<footer class="no-print">
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item flex">
      <h2 class="ft-title">{{ site.title }}</h2>
      <p>{{ site.description }}</p>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Sidor</h2>
      <ul>
        {% for item in site.footer %}
          {% for page in site.pages %}
           {% if item.url == page.url %}
           <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
           {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Kontakt</h2>
      <ul>
        <li>{{ site.contact.phone }}</li>
        <li><a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a></li>
      </ul>
    </div>
  </section>
  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li>&copy; 2019 {{ site.organisation }}</li>
      <li class="flex"></li>
      <li>Genererad {{ site.time | date_to_string }}</li>
    </ul>
  </section>
</footer>
