<footer class="no-print">
  <!-- Footer main -->
  <div class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Kontakt</h2>
      <ul>
        <li><b>Telefon</b></li>
        <li><a href="tel:{{ site.contact.phone.href }}">{{ site.contact.phone.text }}</a></li>
        <li><b>E-post</b></li>
        <li><a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <nav>
        <h2 class="ft-title">Sidor</h2>
        <ul>
          {% for nav in site.footer.navigation %} {% for page in site.pages %} {% if nav.url == page.url %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endif %} {% endfor %} {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="ft-main-item flex">
      <h2 class="ft-title">Om oss</h2>
      <p><strong>{{ site.title }}</strong><br />{{ site.description }}</p>
    </div>
  </div>
  <!-- Footer legal -->
  <div class="ft-legal">
    <ul class="ft-legal-list">
      <li>&copy; {{ site.copyright.year }} {{ site.copyright.org }}</li>
      <li class="flex"></li>
      <li>
        Genererad {% include site_date.html %}
      </li>
    </ul>
  </div>
</footer>
