<footer class="no-print">
  <!-- Footer main -->
  <div class="ft-main">
    <div class="ft-main-item">
      <nav>
        <h2 class="ft-title">Sidor</h2>
        <ul>
          {% for nav in site.footer.navigation %} {% for page in site.pages %} {% if nav.url == page.url %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endif %} {% endfor %} {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="ft-main-item flex">
      <h2 class="ft-title">Om oss</h2>
      <p>
        <div class="ft-subtitle">
          Org.nr
        </div>
        {{ site.orgnr }}
        <strong style="display: block; margin-top: 1rem;">{{ site.title }}</strong>
        {{ site.description }}
      </p>
    </div>
    <div class="ft-main-item">
        <h2 class="ft-title">Kontakt</h2>
        <p>
        <address>
          <div class="ft-subtitle">Telefon</div>
          <a href="tel:{{ site.contact.phone.href }}">{{ site.contact.phone.text }}</a>
          <div class="ft-subtitle">E-post</div>
          <a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a>
          <!--
          <div class="ft-subtitle">Besöksadress</i>
          {{ site.contact.adress.street}}<br />
          {{ site.contact.adress.postal}}
          -->
        </address>
      </p>
    </div>

  </div>
  <!-- Footer legal -->
  <div class="ft-legal">
    <ul class="ft-legal-list">
      <li>&copy; {{ site.copyright.year }} {{ site.copyright.org }}</li>
      <li class="flex"></li>
      <li>
        Genererad {% include site_date.html %}
      </li>
    </ul>
  </div>
</footer>
