@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* https://www.huertatipografica.com/es/fonts/bitter-ht */
@font-face {
    font-family: Bitter;
    font-weight: normal;
    src: url("/assets/fonts/Bitter-Regular.otf") format("opentype");
}

@font-face {
  font-family: Bitter;
  font-weight: bold;
  src: url("/assets/fonts/Bitter-Bold.otf") format("opentype");
}

@font-face {
  font-family: Bitter;
  font-weight: normal;
  font-style: italic;
  src: url("/assets/fonts/Bitter-Italic.otf") format("opentype");
}

@font-face {
  font-family: Bitter;
  font-weight: bold;
  font-style: italic;
  src: url("/assets/fonts/Bitter-BoldItalic.otf") format("opentype");
}
/*
body {
  font-family: Bitter;
  font-size: 20px;
  line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6 { margin: 1em 0 0 0; line-height: 1.2em; }
h1 { font-size: 60px; }
h2 { font-size: 50px; }
h3 { font-size: 40px; }
h4 { font-size: 30px; }
h5 { font-size: 20px; }
h6 { font-size: 10px; }
.container {
  margin: auto;
  width: 64rem;
}
.c { text-align: center; }
.m { color: #888; }
*/
