@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import "rouge-github";

/* rouge comment override */
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs,
.highlight .c,
.highlight .cd {
  color: #666;
}
.highlight {
  background: #FFF;
}
* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
  background-color: $brand-white;
  color: $brand-black-dark;
  line-height: 1.7rem;
  font-size: $brand-font-size;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arbutus Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.0rem;
}

h2 {
  font-size: 2.05rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.0rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.0rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  color: $link-color;
  outline-offset: 2px;
  &:hover, &:focus {
    // background: $link-color;
    // color: #FFFFFF;
    // outline: inherit;
    outline: $link-color solid 4px;
  }
  &:active {
    // background: $link-active-color;
    // color: #FFFFFF;
    // outline: inherit;
    outline: $link-active-color solid 4px;
    color: $link-active-color;
    &:hover, &:focus {
      // background: $link-active-color;
      // color: #FFFFFF;
      // outline: inherit;
      outline: $link-active-color solid 4px;
      color: $link-active-color;
    }
  }
  &:visited {
    color: $link-visited-color;
    &:hover, &:focus {
      // background: $link-visited-color;
      // color: #FFFFFF;
      // outline: inherit;
      outline: $link-visited-color solid 4px;
      color: $link-visited-color;
    }
    &:active {
      // background: $link-active-color;
      // color: #FFFFFF;
      // outline: inherit;
      outline: $link-active-color solid 4px;
      color: $link-active-color;
      &:hover, &:focus {
        // background: $link-active-color;
        // color: #FFFFFF;
        // outline: inherit;
        outline: $link-active-color solid 4px;
        color: $link-active-color;
      }
    }
  }
}

/* --- */

a.logo {
  background: transparent;
  display: inline-block;
  color: #FFFFFF;
  svg .fill-red {
    fill: $brand-red;
  }
  svg .fill-white {
    fill: $brand-white;
  }
  svg .fill-black {
    fill: $brand-black;
  }

  &:hover, &:focus {
    background: transparent;
    outline: $link-logo-focus-color solid 8px;
  }
  &:active {
    background: transparent;
    outline: $link-logo-active-color solid 8px;
    svg .fill-red {
      fill: $link-logo-active-color;
    }
    &:hover, &:focus {
      background: transparent;
      outline: $link-logo-active-color solid 8px;
      svg .fill-red {
        fill: $link-logo-active-color;
      }
    }
  }
}

/*
https://juicystudio.com/services/luminositycontrastratio.php#specify
#D22730 -> #FFFFFF
The contrast ratio is: 5.16:1

https://www.cssfontstack.com/oldsites/hexcolortool/?_ga=1.125546506.1671817461.1433145644
HTML:#D22730, RGB:210  39  48, ORIGINAL
HTML:#B90E17, RGB:185  14  23, DARKENED:10%
HTML:#9F0000, RGB:159  0  0, DARKENED:20%
HTML:#860000, RGB:134  0  0, DARKENED:30%
HTML:#6C0000, RGB:108  0  0, DARKENED:40%
HTML:#530000, RGB:83  0  0, DARKENED:50%
*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    width: 100%;
  }
  header, footer {
   flex-shrink: 0;
  }
}
address {
  font-style: normal;
}
@import "header";
@import "footer";
@import "main";
@import "print";
