@import "normalize";
@import "variables";
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "rouge-github";
@import "footer";

* {
  box-sizing: border-box;
}

.content-wrapper {
  word-wrap: break-word;
  /* kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  } */

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }
  code.highlighter-rouge {
    color: $brand-red;
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    font-style: italic;
    border-left: 0.3rem solid $border-color;
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
/*    display: block; */
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
    th {
      background-color: $brand-black;
      color: $brand-white;
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

/* sparti */

body, html {
  margin: 0px;
  padding: 0px;
  background-color: $brand-black-dark;
  color: $brand-white;
  line-height: 1.7rem;
  font-size: $brand-font-size;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 2.5rem;
  line-height: 4.05rem;
}

h2 {
  font-size: 2.05rem;
  line-height: 3.25rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.05rem;
}

h5 {
  font-size: 1.0rem;
  line-height: 1.7rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header, footer {
  background-color:  $brand-black;
  color: $brand-white;
  border-radius: 0px;
  z-index: 1;
  position: relative;
}
header {
  text-align: center;
  padding: 2rem 0rem 5rem 0rem;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}
footer {
  padding: 3rem 0rem 0rem 0rem;
  box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.2),0px -1px 1px 0px rgba(0,0,0,0.14),0px -1px 3px 0px rgba(0,0,0,0.12);
}

.main-wrapper {
  background-color: $brand-white;
  color: $brand-black;
  position: relative;
  z-index: 0;
}
main {
  max-width: 45rem;
  margin: -3rem auto;
  background-color: $brand-white;
  box-shadow: 0px 0px 5px #888888;
  padding: 3rem 1rem;
  z-index: 2;
  position: relative;
}

.content-wrapper {
  max-width: 33rem;
  margin: auto;

  h1, h2, h3, h4, h5, h6 {
    color: $brand-red;
  }
}

body.error h1 {}

.info {
  text-align: right;
}

body main article p:first-of-type {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
body main article h1:first-of-type {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.page-date, .page-author {
  font-style: italic;
  text-align: center;
}
a {
  color: $link-color;
  outline-offset: 2px;
  &:hover, &:focus {
    // background: $link-color;
    // color: #FFFFFF;
    // outline: inherit;
    outline: $link-color solid 4px;
  }
  &:active {
    // background: $link-active-color;
    // color: #FFFFFF;
    // outline: inherit;
    outline: $link-active-color solid 4px;
    color: $link-active-color;
    &:hover, &:focus {
      // background: $link-active-color;
      // color: #FFFFFF;
      // outline: inherit;
      outline: $link-active-color solid 4px;
      color: $link-active-color;
    }
  }
  &:visited {
    color: $link-visited-color;
    &:hover, &:focus {
      // background: $link-visited-color;
      // color: #FFFFFF;
      // outline: inherit;
      outline: $link-visited-color solid 4px;
      color: $link-visited-color;
    }
    &:active {
      // background: $link-active-color;
      // color: #FFFFFF;
      // outline: inherit;
      outline: $link-active-color solid 4px;
      color: $link-active-color;
      &:hover, &:focus {
        // background: $link-active-color;
        // color: #FFFFFF;
        // outline: inherit;
        outline: $link-active-color solid 4px;
        color: $link-active-color;
      }
    }
  }
}

/* --- */

a.logo {
  background: transparent;
  display: inline-block;
  color: #FFFFFF;
  svg .fill-red {
    fill: $brand-red;
  }
  svg .fill-white {
    fill: $brand-white;
  }
  svg .fill-black {
    fill: $brand-black;
  }

  &:hover, &:focus {
    background: transparent;
    outline: $link-logo-focus-color solid 8px;
  }
  &:active {
    background: transparent;
    outline: $link-logo-active-color solid 8px;
    svg .fill-red {
      fill: $link-logo-active-color;
    }
    &:hover, &:focus {
      background: transparent;
      outline: $link-logo-active-color solid 8px;
      svg .fill-red {
        fill: $link-logo-active-color;
      }
    }
  }
}

/*
https://juicystudio.com/services/luminositycontrastratio.php#specify
#D22730 -> #FFFFFF
The contrast ratio is: 5.16:1

https://www.cssfontstack.com/oldsites/hexcolortool/?_ga=1.125546506.1671817461.1433145644
HTML:#D22730, RGB:210  39  48, ORIGINAL
HTML:#B90E17, RGB:185  14  23, DARKENED:10%
HTML:#9F0000, RGB:159  0  0, DARKENED:20%
HTML:#860000, RGB:134  0  0, DARKENED:30%
HTML:#6C0000, RGB:108  0  0, DARKENED:40%
HTML:#530000, RGB:83  0  0, DARKENED:50%
*/

@media print {
  main {
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/* rouge comment override */
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs,
.highlight .c,
.highlight .cd {
  color: #666;
}
