@media print {
  main {
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  body > header,
  body > footer {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
