// Brand
$brand-font-size: 18px;

$brand-red: #D22730;
$brand-black: #2D2926;
$brand-white: #FFFFFF;

$brand-red-dark: darken($brand-red, 50%);
$brand-black-dark: darken($brand-black, 50%);
$brand-white-dark: darken($brand-white, 50%);

$link-color: blue;
$link-visited-color: purple;
$link-focus-color: $link-color;
$link-active-color: $brand-red;

$link-logo-color: $brand-white;
$link-logo-focus-color: $brand-red;
$link-logo-active-color: lighten($link-logo-focus-color, 10%);

$blockquote-text-color: lighter($brand-black, 10%) !default;

// Code
$code-bg-color: $brand-white !default;
$code-text-color: $brand-black !default; //#567482 !default;

// Borders
$border-color: $brand-red !default;//#dce6f0 !default;
$table-border-color: $brand-black !default; // #e9ebec !default;
$hr-border-color: $brand-red !default; // #eff0f1 !default;

$font-size-large: 16px;
$font-size-medium: 16px;
$font-size-small: 16px;
