<!DOCTYPE html>
<html lang="{{ site.lang | default: " sv-SE " }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}

  <meta charset="UTF-8">
{% seo %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2D2926">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/sparti.css' | relative_url }}">
</head>

<body>

  <div class="page">

    {% include header.html %}

    <main>
      <article class="main-content">
        <h1>{{ page.title | default: site.title }}</h1>
        {{ content }}
        <div class="info">
          <div class="page-date">{{ page.date | default: site.time | date_to_string }}</div>
          <div class="page-author"><a href="mailto:{{ page.author.mail | default: site.author.mail }}">{{ page.author.name | default: site.author.name }}</a></div>
        </div>
      </article>
    </main>

    {% include footer.html %}

  </div>

</body>

</html>
