<!DOCTYPE html>
<html lang="{{ site.lang | default: " sv-SE " }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}

  <meta charset="UTF-8"> {% seo %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2D2926">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/sparti.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

  <!-- wrapper -->
  <div class="page-wrapper">

    <!-- header -->
    <header class="page-header no-print">
      <a href="/"><img class="logo" src="/assets/images/SPARTI_logo_white_color.png" alt="{{ site.title }}"></a>
    </header>

    <!-- nav -->
    <!-- <nav> </nav> -->

    <!-- main -->
    <main>
      {{ content }}
    </main>

    <!-- footer -->
    <footer class="page-footer no-print">
      Copyright (C) 2013. All rights reserved.
    </footer>
  </div>

</body>

</html>
