<!DOCTYPE html>
<html lang="{{ site.lang | default: "sv-SE" }}">
<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}

  <meta charset="UTF-8">
{% seo %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2D2926">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/sparti.css' | relative_url }}">
</head>
<body class="{{ page.body_class }}">
  <div class="main-wrapper">
    {% include header.html %}
    <main>
      <div class="content-wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
